<h2>Buy Some Stuff!</h2>

<form action="/checkout" method="POST">
  <label for="item_to_purchase">Item: </label>
  <input id="item_to_purchase" type="text" name="item" /><br>

  <input type="submit" value="submit">

</form>
