<!DOCTYPE html>
<html>
  <head>
  </title>Buy Some Stuff</title>
</head>

  <body>
    <h1>Buy Stuff And Junk</h1>
    <form action="/checkout" method="POST">
      <label>Item to buy:</label><br>
      <input type="text" name="item" /><br>
      <input type="submit" value="submit"/><br>
    </form>
  </body>
</html>
